.App {
  text-align: center;
  .form {
    .input {
      padding: 8px 20px;
    }
    .btn {
      padding: 8px 10px;
      cursor: pointer;
    }
  }
  .content {
    border: 1px solid black;
    margin: 5px 0;
    h3 {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
.btn {
  padding: 8px 10px;
}
.mark {
  text-decoration: line-through;
}
